<p> Your Cart</p>

<% @cart.products.each do |key, value| %>
    <p>
      <%= key.name %>
      <%= value * key.price %>
    <form method="POST" action="/cart">
      <input name="delete_product" value="<%= key.name %>" type="hidden">
      <input type="submit" value="Delete product">
    </form>
    </p>
<% end %>

<p>Total price:  <%= @cart.total_price %></p>
<p>
  <a href='/'> Back to main:</a>
</p>

<form method="POST" action="/cart">
  <input name="delete_all_products" type="hidden">
  <input type="submit" value="Delete all products">
</form>

<form method="POST" action="/order">
  <input name="order" value="???" type="hidden">
  Your name: <input type="text" name="name"><br>
  Address: <input type="text" name="address"><br>
  Phone number: <input type="text" name="phone"><br>
  <input type="submit" value="Complete order">
</form>
